.body_style{
    background-color:#192a45 ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    font-family: 'Times New Roman', Times, serif ;
    font-size: 60px;
}

.indexes{
    background-color: #192a45;
    color: white;
    font-size: small;
}

.indexes2{
    background-color: #192a45;
    color: white;
}

.logo{
    border-radius: 50%;
    width: 170px;
    height: 120px;

}
